# Data collection

In [11]:
import pandas as pd
import numpy as np

In [17]:
df=pd.read_csv('./archive/diemthi2019_update.csv')
df

,Unnamed: 0,SBD,Ngu Van,Toan Hoc,Ma Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
0,0,24008611,8.00,8.2,N1,7.6,NaN,NaN,NaN,8.25,7.75,8.75
1,1,51000032,6.17,8.6,N1,8.0,8.25,4.5,6.00,NaN,NaN,NaN
2,2,51000005,4.75,5.2,NaN,NaN,NaN,NaN,NaN,4.00,4.25,5.75
3,3,51000021,4.50,4.4,NaN,NaN,NaN,NaN,NaN,2.25,4.75,5.00
4,4,51000013,6.00,5.8,N1,4.4,NaN,NaN,NaN,7.75,8.25,7.50
...,...,...,...,...,...,...,...,...,...,...,...,...
811846,811846,26019104,4.75,4.4,N1,3.4,NaN,NaN,NaN,4.50,5.75,8.50
811847,811847,26019102,6.25,5.2,N1,4.4,3.75,4.5,4.00,NaN,NaN,NaN
811848,811848,26019099,5.00,2.8,N1,2.8,NaN,NaN,NaN,5.50,5.50,8.00
811849,811849,26019101,7.25,6.2,N1,4.0,NaN,NaN,NaN,3.50,6.75,8.50
811850,811850,26019097,5.75,6.4,N1,2.2,5.25,4.5,3.75,NaN,NaN,NaN

---
# About Dataset
## Context
This is a dataset about test scores that candidates achieved in the college entrance examination for the school year 2019-2020 in Vietnam

## Content
Dataset bao gồm số báo danh thí sinh và điểm các tương ứng của thí sinh đó:

SBD - Candidate number

Ngu Van - Literature score

Toan Hoc - Mathematics score

Ma Ngoai Ngu - Foreign language code

Ngoai Ngu - Foreign language score

- N1: English

- N2: Russian

- N3: French

- N4: Chinese

- N5: German

- N6: Japanese

Vat Ly - Physics score

Hoa Hoc - Chemistry score

Sinh Hoc - Biology score

Lich Su - History score

Dia Ly - Geography score

GDCD - Civics score

## Source
This is a dataset collected from [Kaggle](https://www.kaggle.com/datasets/e88ae629ec21909154d9cc9b3d9b1bc3cfa1d46b03ae00c0ba297c8d5ae32fc2?resource=download).

Sincere thanks for the contribution of [beecost](https://github.com/beecost) for this valuable dataset

## Author's words
Hope this dataset helps the data analysis community.

---

# Data explorations

Looking at the DataFrame, we see that the first column is the redundant column and the column name is not clear, this column is actually the number of rows in the data. When creating the Dataframe, then this column is no longer needed, the background of this column will be deleted.

In [18]:
df.drop(df.columns[[0]], axis=1, inplace=True)
df

,SBD,Ngu Van,Toan Hoc,Ma Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
0,24008611,8.00,8.2,N1,7.6,NaN,NaN,NaN,8.25,7.75,8.75
1,51000032,6.17,8.6,N1,8.0,8.25,4.5,6.00,NaN,NaN,NaN
2,51000005,4.75,5.2,NaN,NaN,NaN,NaN,NaN,4.00,4.25,5.75
3,51000021,4.50,4.4,NaN,NaN,NaN,NaN,NaN,2.25,4.75,5.00
4,51000013,6.00,5.8,N1,4.4,NaN,NaN,NaN,7.75,8.25,7.50
...,...,...,...,...,...,...,...,...,...,...,...
811846,26019104,4.75,4.4,N1,3.4,NaN,NaN,NaN,4.50,5.75,8.50
811847,26019102,6.25,5.2,N1,4.4,3.75,4.5,4.00,NaN,NaN,NaN
811848,26019099,5.00,2.8,N1,2.8,NaN,NaN,NaN,5.50,5.50,8.00
811849,26019101,7.25,6.2,N1,4.0,NaN,NaN,NaN,3.50,6.75,8.50
811850,26019097,5.75,6.4,N1,2.2,5.25,4.5,3.75,NaN,NaN,NaN

### How many rows (observations) and columns (attributes) does the data have?

In [19]:
nums_row , nums_col=df.shape
print(f'Data has {nums_row} rows and {nums_col} columns'  )

Data has 811851 rows and 11 columns

### What does each row (observation) mean? Is there a phenomenon where rows (observations) have different meanings?

A line showing information about the national high school exam scores in 2019 .There doesn't have seemed to be an outlier line.

### Are there any duplicate rows in the data?

In this task, I will check if there are duplicate observations and store the result into the "have_duplicated_rows" variable. This variable has a boolean datatype that represents whether the data has duplicate observations or not. This variable returns `1 (True)` if there are duplicates and returns `0 (False)` if there are not duplicates

In [20]:
have_duplicated_rows=df.duplicated().sum()
print(have_duplicated_rows)

0

### What do the columns in the data mean?

Here is a description of the columns in the "diemthi2019_updatwe.csv" file:

- **SBD**: Candidate number

- **Ngu Van**: Literature score

- **Toan Hoc**: Mathematics score

- **Ma Ngoai Ngu**: Foreign language code

- **Ngoai Ngu**: Foreign language score, include:

    - **N1**: English

    - **N2**: Russian

    - **N3**: French

    - **N4**: Chinese

    - **N5**: German

    - **N6**: Japanese

- **Vat Ly** - Physics score

- **Hoa Hoc** - Chemistry score

- **Sinh Hoc** - Biology score

- **Lich Su** - History score

- **Dia Ly** - Geography score

- **GDCD** - Civics score

### Task: What data type does each column currently have? Is there a column with a data type that is not suitable for further processing?

Ext, you calculate the data type (dtype) of each column in the DataFrame `df` and save the result in the Series `dtypes` (this series has the index as the column name).

In [21]:
dtypes=pd.DataFrame([df.dtypes])
dtypes

,SBD,Ngu Van,Toan Hoc,Ma Ngoai Ngu,Ngoai Ngu,Vat Ly,Hoa Hoc,Sinh Hoc,Lich Su,Dia Ly,GDCD
0,int64,float64,float64,object,float64,float64,float64,float64,float64,float64,float64

The current data type of each column is perfectly matched and there is no invalid data type